/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [idempleado]
      ,[NombreEmpleado]
      ,[numerotelefonico]
      ,[edadempleado]
      ,[correoempleado]
      ,[direccionempleado]
      ,[puestoempleado]
      ,[fecharegistroempleado]
  FROM [ExamenRad].[dbo].[Empleados]