/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [RTNsucursal]
      ,[nombresucursal]
      ,[TelefonoSucursal]
      ,[direccionsucursal]
      ,[fecharegistro]
  FROM [ExamenRad].[dbo].[Sucursales]